/* Estilos generales
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;
} */

/* Header */
.header {
    background-color: #4CAF50;
    padding: 15 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 px 4 px 6 px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header button {
    background-color: #ff4d4d;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.header button:hover {
    background-color: #d43f3f;
}

.header input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Menú */
.menu {
    background-color: #81c784;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.menu button {
    background-color: #4CAF50;
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    background-color: #388E3C;
}