<div class="header">
    <div class="logo">LOGO</div>
    <div>
        <span>Administrador</span>
        <button>Salir</button>
        <input type="text" placeholder="Search">
    </div>
  </div>
  <div class="menu">
    <button>Inicio</button>
    <button routerLink="/bodega">Bodega</button>
    <button routerLink="/ordenes-compra">Órdenes de Compra</button>
    <button routerLink="/vendedores">Vendedores</button>
    <button routerLink="/productos">Productos</button>
    <button routerLink="/reportes-gastos">Reportes de Gastos</button>
    <button routerLink="/configuracion">Configuración</button>
  </div>
  <div class="container">
    <div class="section">
        <h2>Productos próximos a vencer</h2>
        <div class="grid">
            <div></div><div></div>
            <div></div><div></div>
            <div></div><div></div>
        </div>
    </div>
    <div class="section">
        <h2>Productos más vendidos del mes</h2>
        <div class="grid">
            <div></div><div></div>
            <div></div><div></div>
            <div></div><div></div>
        </div>
    </div>
  </div>
  